<h1>Welcome to Meal Planner</h1>
<p>Meal Planner allows you to control your nutrition input and energy balance.<br>
You are also able to view other peoples plans to get some inspiration.<br>
Together, people can manage lists of Foods and Activities and make it easier to create plans for others.</p>
<p>- - - - -</p>
<h3>Cotribute to list of Foods and Activities</h3>
<%= link_to 'Manage Foods', '/foods' %> |
<%= link_to 'Manage Activities', '/activities' %>
<p></p>
<h3>Then create your own Meal Plan!</h3>
<%= link_to 'Create Meal Plan', '/plans/new' %>
<h3>Or just browse other guests plans.</h3>
<%= link_to 'Browse plans', '/plans' %>
<p>- - - - -</p>
<p>
  This web is simplified version of my Android fitness app, primarly meant as a Ruby on Rails practice.<br>
  Check out my FREE Android App <b>Foods & Sports Supervisor</b> -> <a href="https://play.google.com/store/apps/details?id=cz.cvut.fit.damsupervisor" target="_blank">here!</a><br>
  Anyway, you can contact me at <b>alequa754@gmail.com</b></p>